    .slider h3,
    .slider h1,
    .menu,
    .slider h5,
    .paral h3 {
        /* text Shadow Membuat bayangan */
        /* Bag 1. x offset ke kanan dan bag 2 Y offset kebawah */
        /* yang ke 3 Blur nya */
        /* rgba urutanya (Merah Hijau Biru) terahir alfa atau transparansinya */

        text-shadow: 3px 2px 3px rgba(0,0,0,0.5);
    }
    .container .logo img {
        margin-top: 4px;
        width: 70px;
    
    
    }

    #mobile-nav li a:hover {
        background-color:#78909c;
        color: white;
        
    }

    .menu {

        /* text Shadow Membuat bayangan */
        /* Bag 1. x offset ke kanan dan bag 2 Y offset kebawah */
        /* yang ke 3 Blur nya */
        /* rgba urutanya (Merah Hijau Biru) terahir alfa atau transparansinya */

        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);     
    }

    .menu a {
        font-size: 15px;
    }

    .parallax-container {
        height: 400px;
    }

    .parallax img {
        filter: grayscale(1);
        opacity: 0.5 !important;
    }

    .paral img {
        max-width: 200px;
        max-height: 100px;
        filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
    }

    .clients {
        margin-top: 5%;
        padding-bottom: 10%;
    }

    #contact ul i {
        display: inline-block;
        padding-left: 16px;
        padding-right: 10px;
    }

    #contact ul span {
        font-size: 14px;
    }

    #contact span .kota {
        padding: 40px;

    }

    .contact {
        margin-top: 5%;
        padding-bottom: 20%;
    }



    section,footer{
        /* Semua Section padding atas bawah 20pixel kiri kanan 0 */
        padding: 20px 0px;
    }
    
    .footer {
        font-size: 12px;;
    }




@media (min-width: 920px){

        .container .logo img{
        margin-top: 8px;
        margin-left: -5px;
        
    }
        #contact span .kota,
        #contact span .sarki
    {
        padding: 0px;
    }

    
}

